img{
    width: 25%;
}
h1{
    font-size: 50px; color: black;
}
h5{
    font-size: 25px; color: red;
}
p{
    font-size: 20px; color: black;
}
h3{
    font-size: 30px; color: red;
}
a{
    font-size: 35px; color: blue;
}